<!-- DailyPracticeDashboard.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Practice Dashboard</title>
  <!-- Tailwind CDN and font config -->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter', 'sans-serif'],
          },
        },
      },
    }
  </script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../static/css/index.css" />
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" />
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
  <!-- script -->
  <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" />
  <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<style>
  [data-accordion-target][aria-expanded="true"] {
    background-color: var(--links-color);
    color: white;
  }

  body,
  .font-sans {
    font-family: 'Inter', sans-serif !important;
  }
</style>

<body class="font-[Inter] bg-gray-50">

  <div class="flex flex-row h-screen w-[100vw]">
    <!-- Navbar section -->

    {% include 'SideNavBar.html' %}

    <!-- Main Content Section -->
    <section id="main-content"
      class="flex-1 overflow-auto p-4 transition-all duration-300 ease-in-out text-gray-700 body-font mt-16">
      <div class="flex flex-col">

        <!-- Header Section -->
        <div class="container py-2 bg-gradient-to-r from-cyan-500">
          <p class="ml-16 text-white font-medium text-lg">Daily Practice</p>
        </div>

        <!-- Statistics Section -->
        <div class="container pt-8 pb-2">
          <div class="flex flex-wrap text-left justify-center md:justify-between">
            <!-- Tile 1 -->
            <div class="p-4 w-full md:w-1/4">
              <div class="p-2 lg:p-0 flex items-center justify-around h-full rounded-lg bg-white"
                style="box-shadow: 0px 0px 4px 0px #00000040; min-height: 16vh;">
                <div>
                  <h2 class="title-font font-semibold text-xl xl:text-2xl text-gray-600">
                    {{(dp_attempt_details_completed|default([])|length)}}</h2>
                  <p class="font-medium pb-4" style="color: var(--links-color);">Tests Completed</p>
                </div>
                <div>
                  <img class="w-[50px] h-[50px]"
                    src="{{ url_for('static', filename='../static/images/DashTiles/TestsCompleted.svg') }}">
                </div>
              </div>
            </div>

            <!-- Tile 2 -->
            <div class="p-4 w-full md:w-1/4">
              <div class="p-2 lg:p-0 flex items-center justify-around h-full rounded-lg bg-white"
                style="box-shadow: 0px 0px 4px 0px #00000040; min-height: 16vh;">
                <div>
                  <h2 class="title-font font-semibold text-xl xl:text-2xl text-gray-600">{{modules_attempted_count}}
                  </h2>
                  <p class="font-medium pb-4" style="color: var(--links-color);">Modules Attempted</p>
                </div>
                <div>
                  <img class="w-[50px] h-[50px]"
                    src="{{ url_for('static', filename='../static/images/DashTiles/ExamsTargeted.svg') }}">
                </div>
              </div>
            </div>

            <!-- Tile 3 -->
            <div class="p-4 w-full md:w-1/4">
              <div class="p-2 lg:p-0 flex items-center justify-around h-full rounded-lg bg-white"
                style="box-shadow: 0px 0px 4px 0px #00000040; min-height: 16vh;">
                <div>
                  <h2 class="title-font font-semibold text-xl xl:text-2xl text-gray-600">{{average}}%</h2>
                  <p class="font-medium pb-4" style="color: var(--links-color);">Average Score</p>
                </div>
                <div>
                  <img class="w-[50px] h-[50px]"
                    src="{{ url_for('static', filename='../static/images/DashTiles/AvgScore.svg') }}">
                </div>
              </div>
            </div>

            <!-- Tile 4 -->
            <div class="p-4 w-full md:w-1/4">
              <div class="p-2 lg:p-0 flex items-center justify-around h-full rounded-lg bg-white"
                style="box-shadow: 0px 0px 4px 0px #00000040; min-height: 16vh;">
                <div>
                  <h2 class="title-font font-semibold text-xl xl:text-2xl text-gray-600">{{accuracy}}%</h2>
                  <p class="font-medium pb-4" style="color: var(--links-color);">Average Accuracy</p>
                </div>
                <div>
                  <img class="w-[50px] h-[50px]"
                    src="{{ url_for('static', filename='../static/images/DashTiles/AvgAccuracy.svg') }}">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Charts Section -->
        <div class="w-full container pt-8 p-4">
          <div id="charts-container" class="flex flex-wrap justify-evenly gap-x-2 gap-y-8">
            <!-- PIE CHART -->
            <div class="bg-white rounded-lg shadow p-4 md:p-6 text-center min-w-[300px] flex-1">
              <h5 class="mb-8 font-bold text-gray-600">Subjects Attempted</h5>
              <div id="pie-chart" class="chart-container"></div>
            </div>
            <!-- BAR CHART -->
            <div class="bg-white rounded-lg shadow p-4 md:p-6 text-center min-w-[300px] flex-1">
              <h5 class="mb-8 font-bold text-gray-600">Average Score by Subject</h5>
              <div class="overflow-x-auto">
                <div id="column-chart" class=""></div>
              </div>
            </div>
            <!-- LINE CHART  -->
            <div class="bg-white rounded-lg shadow p-4 md:p-6 text-center min-w-[300px] flex-1">
              <h5 class="mb-8 font-bold text-gray-600">Average Score by Difficulty Level</h5>
              <div id="line-chart" class="chart-container"></div>
            </div>
          </div>
        </div>

        <!-- View Schedule -->
        <div class="container pt-8 p-4">
          <div
            class="flex shadow rounded-lg items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 gap-3 mb-4 bg-white">
            <p>We recommend having an active schedule. Ensure you have continous tests set up</p>
            <form action="{{ '/DailyPracticeCalendar' }}" method="post">
              <button id="viewSchedule"
                class="text-cyan-500 border border-cyan-500 font-medium rounded-lg md:px-8 md:py-2 md:mt-0 p-4 mt-2">View
                Schedule</button>
            </form>
          </div>
        </div>

        <!-- Filters -->
        <div class="container pt-8 p-4">
          <h1 class="font-bold text-gray-600 mb-4">Filter By:</h1>
          <form id="filter-form" action="/filter_dp" class="flex flex-wrap gap-4 items-center w-full sm:w-auto">
            <div class="w-72 min-w-[200px]">
              <label class="block text-sm text-gray-600 mb-1">Status</label>
              <select name="status"
                class="h-full w-full rounded-lg border border-gray-200 px-3 py-2.5 text-sm focus:ring-cyan-500 focus:border-cyan-500">
                <option value="all">All</option>
                <option value="completed">Completed</option>
                <option value="partially_completed">Partially Completed</option>
                <option value="lapsed">Lapsed</option>
              </select>
            </div>

            <div class="w-72 min-w-[200px]">
              <label class="block text-sm text-gray-600 mb-1">Subject</label>
              <select name="subject"
                class="h-full w-full rounded-lg border border-gray-200 px-3 py-2.5 text-sm focus:ring-cyan-500 focus:border-cyan-500">
                <option value="all">All Subjects</option>
                {% for subject in subjects %}
                <option value="{{ subject.subject_name }}">{{subject.subject_name}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="w-72 min-w-[200px]">
              <label class="block text-sm text-gray-600 mb-1">From Date</label>
              <input type="date" name="from_date"
                class="h-full w-full rounded-lg border border-gray-200 px-3 py-2.5 text-sm focus:ring-cyan-500 focus:border-cyan-500" />
            </div>

            <div class="w-72 min-w-[200px]">
              <label class="block text-sm text-gray-600 mb-1">To Date</label>
              <input type="date" name="to_date"
                class="h-full w-full rounded-lg border border-gray-200 px-3 py-2.5 text-sm focus:ring-cyan-500 focus:border-cyan-500" />
            </div>

            <div class="w-72 min-w-[200px]">
              <label class="block text-sm text-gray-600 mb-1">Difficulty Level</label>
              <select name="difficulty"
                class="h-full w-full rounded-lg border border-gray-200 px-3 py-2.5 text-sm focus:ring-cyan-500 focus:border-cyan-500">
                <option value="all">All</option>
                <option value="1">Beginner</option>
                <option value="2">Intermediate</option>
                <option value="3">Proficient</option>
                <option value="4">Advanced</option>
                <option value="5">Expert</option>
              </select>
            </div>
          </form>
        </div>

        <!--Accordion -->
        <div id="accordion-container" class="container pt-8 p-4">
          {% include 'DailyPracticeAccordion.html'%}
        </div>

      </div>
    </section>
  </div>

  <!-- TAKE DAILY TEST MODAL -->

  <!-- Create Daily Practice -->
  <div id="dp-module" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg shadow-lg p-8 max-w-4xl w-full max-h-[80vh] overflow-auto">
      <div class="mb-6 text-[#343434]">
        <h4 class="text-xl pb-2">Note: Please ensure that the maximum questions in the test is 100</h4>
      </div>

      <div class="mb-6 text-[#343434]">
        <h2 class="text-2xl font-bold pb-2">Please Select</h2>
      </div>

      <!-- Scheduler -->
      <div class="flex flex-col sm:flex-row sm:justify-between relative mb-12 sm:space-x-4 space-y-4 sm:space-y-0">
        <!-- Frequency Dropdown -->
        <div class="flex-1" style="height: 46px;">
          <label for="frequency" class="block text-md font-medium text-gray-700">Frequency</label>
          <select id="frequency"
            class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
          </select>
        </div>

        <!-- Start Date -->
        <div class="flex-1" style="height: 46px;">
          <label for="schedule_start_date" class="block text-md font-medium text-gray-700">Start Date</label>
          <input type="date" id="schedule_start_date"
            class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            min="{{ max_date }}">
        </div>

        <!-- End Date -->
        <div class="flex-1" style="height: 46px;">
          <label for="schedule_end_date" class="block text-md font-medium text-gray-700">End Date</label>
          <input type="date" id="schedule_end_date"
            class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            min="{{ min_date }}">
        </div>
      </div>

      <!-- Table -->
      <div class="overflow-x-auto relative mb-6">
        <table class="min-w-full bg-white" id="subjects-table" data-fullmodulelist="{{ all_modules}}">
          <thead>
            <tr>
              <th
                class="bg-[#0EC1DD] px-6 py-3 text-left text-sm font-medium text-white uppercase tracking-wider border border-gray-300">
                Subject</th>
              <th
                class="bg-[#0EC1DD] px-6 py-3 text-left text-sm font-medium text-white uppercase tracking-wider border border-gray-300">
                Modules</th>
              <th
                class="bg-[#0EC1DD] px-6 py-3 text-left text-sm font-medium text-white uppercase tracking-wider border border-gray-300">
                Difficulty Level</th>
              <th
                class="bg-[#0EC1DD] px-6 py-3 text-left text-sm font-medium text-white uppercase tracking-wider border border-gray-300">
                Number of Questions</th>
              <th
                class="bg-[#0EC1DD] px-6 py-3 text-left text-sm font-medium text-white uppercase tracking-wider border border-gray-300">
                Actions</th>
            </tr>
          </thead>
          <tbody id="subjects-tbody">
            <tr>
              <td class="whitespace-nowrap border border-gray-300">
                <select id="subject-select" name="subject"
                  class="mt-1 block w-full pl-3 pr-10 py-2 bg-white border border-white sm:text-sm">
                  <option value="" selected disabled class="text-[#909090]">Select Subject</option>
                  {% for subject in all_subjects %}
                  <option value="{{ subject.subject_id }}">{{ subject.subject_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="whitespace-nowrap border border-gray-300">
                <select id="module-select" name="module"
                  class="mt-1 block w-full pl-3 pr-10 py-2 bg-white border border-white sm:text-sm">
                  <option value="" selected disabled class="text-[#909090]">Select
                    Module</option>
                  {% for module in all_modules %}
                  <option value="{{ module.module_id }}" data-subject-id="{{ module.subject_id }}">{{
                    module.module_name}}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="whitespace-nowrap border border-gray-300">
                <select name="difficulty"
                  class="mt-1 block w-full pl-3 pr-10 py-2 bg-white border border-white sm:text-sm">
                  <option value="" selected disabled class="text-[#909090]">Select Difficulty</option>
                  <option value="1">Beginner</option>
                  <option value="2">Intermediate</option>
                  <option value="3">Proficient</option>
                  <option value="4">Advanced</option>
                  <option value="5">Expert</option>
                </select>
              </td>
              <td class="whitespace-nowrap border border-gray-300">
                <input type="number" name="questions"
                  class="subject-questions mt-1 block w-full pl-3 py-2 bg-white border border-gray-300 rounded sm:text-sm"
                  placeholder="Enter Number of Questions" min="1" step="1" required>
              </td>
              <td class="whitespace-nowrap border border-gray-300 text-center">
                <button type="button" class="delete-row-btn p-2 hover:text-red-800">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Add Subject Button -->
      <div class="text-end mb-6">
        <button id="add-subject"
          class="py-1 px-4 border border-gray-300 rounded-md shadow-sm text-xl font-medium bg-white border-2 border-sky-300 text-[#0ABDDB]">Add
          Subject</button>
      </div>

      <div id="error_message" class="text-center text-red-500 hidden"></div>

      <!-- Buttons -->
      <form id="dp-module-form" method="POST" action="/DailyPracticeCreateTest" class="space-y-4">
        <div class="flex justify-between px-32 pt-8 pb-4">
          <button type="button" id="cancel-practice"
            class="py-2 px-4 border border-gray-300 rounded-md shadow-sm text-xl font-medium text-gray-700 bg-white border-2 border-sky-300"
            style="width:180px; height: 46px; color: #0ABDDB;">Cancel</button>
          <button type="button" id="save-config"
            class="py-2 px-4 border border-gray-300 rounded-md shadow-sm text-xl font-medium text-white"
            style="width:180px; height: 46px; background-color: #0ABDDB;">Save</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>


  <script>

    function initializeAccordion() {
      const accordions = document.querySelectorAll('[data-accordion="collapse"]');
      accordions.forEach(accordion => {
        const buttons = accordion.querySelectorAll('[data-accordion-target]');
        buttons.forEach(button => {
          button.addEventListener('click', function () {
            const target = document.querySelector(this.getAttribute('data-accordion-target'));
            if (target) {
              target.classList.toggle('hidden');

              const isExpanded = button.getAttribute('aria-expanded') === 'true';
              button.setAttribute('aria-expanded', !isExpanded);
            }
          });
        });
      });
    }

    document.addEventListener('DOMContentLoaded', function () {
      initializeAccordion();
    });

    const fetchPieChartData = async () => {
      try {
        const response = await fetch('/DailyPracticePieChartData');
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        const data = await response.json();
        return data;
      } catch (error) {
        // console.error("Error fetching exam data:", error);
        return { labels: [], series: [] }; // Fallback for errors
      }
    };

    const getPieChartOptions = async () => {
      const pieChartData = await fetchPieChartData();
      return {
        series: pieChartData.series,

        colors: ["#FB9251", "#0ABDDB", "#F2BC2A", "#AA47BC", "#00ACC1", "#E91E63", "#9C27B0", "#3F51B5", "#4CAF50", "#FF9800", "#795548", "#607D8B"],
        chart: {
          // height: "100%",
          type: "pie",
        },
        stroke: {
          colors: ["white"],
          lineCap: "",
        },
        plotOptions: {
          pie: {
            labels: {
              show: true,
            },
            dataLabels: {
              offset: -25
            }
          },
        },
        labels: pieChartData.labels,
        dataLabels: {
          enabled: true,
          style: {
            fontFamily: "Inter, sans-serif",
          },
        },
        legend: {
          show: true,
          position: "bottom",
          fontFamily: "Inter, sans-serif"
        },
      }
    }

    if (document.getElementById("pie-chart") && typeof ApexCharts !== 'undefined') {
      getPieChartOptions()
        .then((options) => {
          const chart = new ApexCharts(document.getElementById("pie-chart"), options);
          chart.render();
        })
        .catch((error) => {
          // console.error("Error initializing the pie chart:", error);
        });
    }

    const fetchBarChartData = async () => {
      try {
        const response = await fetch('/DailyPracticeBarChartData');
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        const data = await response.json();
        return data;
      } catch (error) {
        // console.error("Error fetching bar chart data:", error);
        return { series: {} }; // Fallback for errors
      }
    };

    const getBarChartOptions = async () => {
      const barChartData = await fetchBarChartData();
      // console.log("Bar Chart Data:", barChartData.series);
      const numBars = barChartData.series[0].data.length;
      const chartWidth = numBars * (30);
      document.getElementById("column-chart").style.minWidth = `${chartWidth}px`;

      return {
        series: barChartData.series,
        chart: {
          type: "bar",
          height: "300px",
          fontFamily: "Inter, sans-serif",
          toolbar: {
            show: false,
          },
        },
        legend: {
          show: false
        },
        plotOptions: {
          bar: {
            borderRadius: 5,
            borderRadiusApplication: "top",
            horizontal: false,
            columnWidth: "15px",
          },
        },
        tooltip: {
          shared: true,
          intersect: false,
          style: {
            fontFamily: "Inter, sans-serif",
          },
        },
        states: {
          hover: {
            filter: {
              type: "darken",
              value: 0.85,
            },
          },
        },
        stroke: {
          show: true,
          width: 1,
          colors: ["transparent"],
        },
        grid: {
          show: true,
          strokeDashArray: 4,
        },
        dataLabels: {
          enabled: false,
        },
        xaxis: {
          labels: {
            show: true,
            style: {
              fontFamily: "Inter, sans-serif",
              cssClass: "text-xs font-normal fill-gray-500 dark:fill-gray-400",
            },
          },
          axisBorder: {
            show: true, // Show x-axis border
            color: "#E0E0E0",
          },
          axisTicks: {
            show: true, // Show x-axis ticks
            color: "#E0E0E0",
          },
        },
        yaxis: {
          show: true, // Show y-axis
          labels: {
            style: {
              fontFamily: "Inter, sans-serif",
            },
            formatter: function (value) {
              return value.toFixed(0); // Format to 2 decimal points
            },
          },
          axisBorder: {
            show: true, // Show y-axis border
            color: "#E0E0E0",
          },
          axisTicks: {
            show: true, // Show y-axis ticks
            color: "#E0E0E0",
          },
        },
        fill: {
          type: "gradient", // Enable gradient fill
          gradient: {
            shade: "light",
            type: "vertical",
            shadeIntensity: 0.5,
            gradientToColors: ["#D3D3D3"], // Gradient endpoint color
            inverseColors: false,
            stops: [0, 100], // Control gradient positions
          },
        },
        colors: ["#00C6FB"]
      };
    };

    if (document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
      getBarChartOptions()
        .then((options) => {
          const chart = new ApexCharts(document.getElementById("column-chart"), options);
          chart.render();
        })
        .catch((error) => {
          // console.error("Error initializing the bar chart:", error);
        });
    }

    const fetchLineChartData = async () => {
      try {
        const response = await fetch('/DailyPracticeLineChartData');
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        const data = await response.json();
        return data;
      } catch (error) {
        // console.error("Error fetching line chart data:", error);
        return { labels: [], series: [] }; // Fallback for errors
      }
    };

    const getLineChartOptions = async () => {
      const lineChartData = await fetchLineChartData();

      return {
        chart: {
          type: "line",
          height: "300px",
          fontFamily: "Inter, sans-serif",
          dropShadow: {
            enabled: false,
          },
          toolbar: {
            show: false,
          },
        },
        tooltip: {
          enabled: true,
          x: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 4, // Adjust line thickness
        },
        grid: {
          show: true,
          strokeDashArray: 4,
        },
        series: lineChartData.series,
        legend: {
          show: true,
          position: "bottom", // Position legend above the chart
          fontFamily: "Inter, sans-serif",
        },
        xaxis: {
          categories: lineChartData.labels,
          labels: {
            show: true,
            style: {
              fontFamily: "Inter, sans-serif",
              cssClass: "text-xs font-normal fill-gray-500 dark:fill-gray-400",
            },
          },
          axisBorder: {
            show: true, // Show x-axis border
            color: "#E0E0E0",
          },
          axisTicks: {
            show: true, // Show x-axis ticks
            color: "#E0E0E0",
          },
        },
        yaxis: {
          show: true, // Show y-axis
          labels: {
            style: {
              fontFamily: "Inter, sans-serif",
            },
            formatter: function (value) {
              return value.toFixed(0); // Format to 2 decimal points
            },
          },
          axisBorder: {
            show: true, // Show y-axis border
            color: "#E0E0E0",
          },
          axisTicks: {
            show: true, // Show y-axis ticks
            color: "#E0E0E0",
          },
        },
      }
    };

    if (document.getElementById("line-chart") && typeof ApexCharts !== 'undefined') {
      getLineChartOptions()
        .then((options) => {
          const chart = new ApexCharts(document.getElementById("line-chart"), options);
          chart.render();
        })
        .catch((error) => {
          // console.error("Error initializing the line chart:", error);
        });
    }

    // Open Modal
    document.getElementById('open-modal').addEventListener('click', function () {
      document.getElementById('dp-module').classList.remove('hidden');
    });

    // Close Modal
    document.getElementById('cancel-practice').addEventListener('click', function () {
      document.getElementById('dp-module').classList.add('hidden');
    });

    const startDateInput = document.getElementById('schedule_start_date');
    const endDateInput = document.getElementById('schedule_end_date');

    // Function to format today's date as YYYY-MM-DD
    function getTodayDate() {
      const today = new Date();
      const year = today.getFullYear();
      const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are 0-based
      const day = String(today.getDate()).padStart(2, '0');
      return `${year}-${month}-${day}`;
    }

    // Set the min attribute for both inputs to today's date
    const todayDate = getTodayDate();
    startDateInput.min = todayDate;
    endDateInput.min = todayDate;

    startDateInput.addEventListener('change', () => {
      // Set the minimum end date to the selected start date
      if (startDateInput.value) {
        endDateInput.min = startDateInput.value;
      }
    });

    endDateInput.addEventListener('change', () => {
      // Set the maximum start date to the selected end date
      if (endDateInput.value) {
        startDateInput.max = endDateInput.value;
      }
    });

    // Save Practice
    document.getElementById('save-config').addEventListener('click', function () {

      const rows = document.querySelectorAll('#subjects-tbody tr');
      const errorMessage = document.getElementById('error_message');
      let totalQuestions = 0;
      let hasError = false;
      let data = [];
      error_message_content = '';

      rows.forEach(row => {
        const subjectSelect = row.querySelector('select[name="subject"]');
        const moduleSelect = row.querySelector('select[name="module"]');
        const difficultySelect = row.querySelector('select[name="difficulty"]');
        const questionsInput = row.querySelector('input[name="questions"]');

        const subject_id = subjectSelect ? subjectSelect.value : null;
        const subject_name = subjectSelect ? subjectSelect.options[subjectSelect.selectedIndex]?.textContent : null;
        const module_id = moduleSelect ? moduleSelect.value : null;
        const module_name = moduleSelect ? moduleSelect.options[moduleSelect.selectedIndex]?.textContent : null;
        const difficulty_level = difficultySelect ? difficultySelect.value : null;
        const difficulty_name = difficultySelect ? difficultySelect.options[difficultySelect.selectedIndex]?.textContent : null;
        const question_count = parseInt(questionsInput ? questionsInput.value : 0) || 0;

        // console.log(subject_name, module_name, difficulty_name);

        totalQuestions += question_count;

        if (!subject_id || !module_id || !difficulty_level || question_count <= 0) {
          hasError = true; // Validation: Ensure all fields are filled
          error_message_content = 'Please fill all fields correctly';
        }

        if (totalQuestions > 100) {
          hasError = true;
          error_message_content = 'Exceeded question limit! Please select up to a total of 100 questions';
        }

        data.push({
          subject_id: subject_id,
          subject_name: subject_name,
          module_id: module_id,
          module_name: module_name,
          difficulty_level: difficulty_level,
          difficulty_name: difficulty_name,
          question_count: question_count
        });
      });
      // console.log('Has Data!');

      const schedulerdata = [];
      const frequency = document.getElementById('frequency').value;
      const start_date = document.getElementById('schedule_start_date').value;
      const end_date = document.getElementById('schedule_end_date').value;

      schedulerdata.push({
        frequency: frequency,
        start_date: start_date,
        end_date: end_date
      });

      if (hasError) {
        errorMessage.classList.remove('hidden');
        errorMessage.textContent = error_message_content;
        // Hide error message after 5 seconds
        // setTimeout(() => {
        //   errorMessage.classList.add('hidden');
        // }, 7000);
      } else {
        errorMessage.classList.add('hidden');
        const form = document.getElementById('dp-module-form');

        const hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'data';
        hiddenInput.id = 'data-input';
        hiddenInput.value = JSON.stringify(data);
        form.appendChild(hiddenInput);

        // for scheduler
        const schedulerhiddenInput = document.createElement('input');
        schedulerhiddenInput.type = 'hidden';
        schedulerhiddenInput.name = 'schedulerdata';
        schedulerhiddenInput.id = 'scheduler-data-input';
        schedulerhiddenInput.value = JSON.stringify(schedulerdata);
        form.appendChild(schedulerhiddenInput);

        // console.log('Before form submit!');
        form.submit();
      }
    });

    // Add Subject Row
    document.getElementById('add-subject').addEventListener('click', function () {
      const tableBody = document.getElementById('subjects-tbody');
      const firstRow = tableBody.querySelector('tr');
      const newRow = firstRow.cloneNode(true); // Clone the first row
      let fullModuleListString = document.getElementById('subjects-table').dataset.fullmodulelist || '[]';
      fullModuleListString = fullModuleListString.replace(/'/g, '"');
      let fullModuleList = JSON.parse(fullModuleListString);

      // Clear the new row's inputs and selects
      newRow.querySelectorAll('select, input').forEach(input => {
        if (input.tagName === 'SELECT') {
          if (input.name === 'module') {
            input.innerHTML = '<option value="" selected disabled class="text-[#909090]">Select Module</option>';

            // Add all modules dynamically
            fullModuleList.forEach(module => {
              const option = document.createElement('option');
              option.value = module.module_id;
              option.textContent = module.module_name;
              option.dataset.subjectId = module.subject_id; // Add subject_id for filtering
              input.appendChild(option);
            });
          }
          input.selectedIndex = 0; // Reset dropdowns to default value
        } else {
          input.value = ''; // Clear input fields
        }
      });

      tableBody.appendChild(newRow); // Append the cloned row to the table body

      // Attach subject-to-module mapping logic to the new row
      const newSubjectSelect = newRow.querySelector('select[name="subject"]');
      handleSubjectChange(newSubjectSelect);

      // Attach delete-row functionality to the trash button in the new row
      const newDeleteButton = newRow.querySelector('.delete-row-btn');
      newDeleteButton.addEventListener('click', function () {
        handleDeleteRow(newDeleteButton);
      });
    });

    // Filter module dropdown according to subject selection
    function handleSubjectChange(subjectSelect) {
      const row = subjectSelect.closest('tr'); // Get the current row
      if (!row) return;
      const moduleSelect = row.querySelector('select[name="module"]');
      if (!moduleSelect) return;
      let fullModuleListString = document.getElementById('subjects-table').dataset.fullmodulelist || '[]';
      fullModuleListString = fullModuleListString.replace(/'/g, '"');
      let fullModuleList = JSON.parse(fullModuleListString);

      subjectSelect.addEventListener('change', function () {
        const selectedSubjectId = subjectSelect.value;
        // console.log(selectedSubjectId)

        // Reset the module dropdown
        moduleSelect.innerHTML =
          '<option value="" selected disabled class="text-[#909090]">Select Module</option>';

        // Filter and add modules that match the selected subject ID
        // Append only modules matching the selected subject_id
        fullModuleList.forEach(module => {
          if (module.subject_id == selectedSubjectId) {
            const option = document.createElement('option');
            option.value = module.module_id;
            option.textContent = module.module_name;
            moduleSelect.appendChild(option);
          }
        });
      });
    }

    function handleDeleteRow(button) {
      const tbody = document.getElementById('subjects-tbody');
      const rows = tbody.querySelectorAll('tr');

      // If there's more than one row, remove the row, otherwise clear the fields
      if (rows.length > 1) {
        const row = button.closest('tr');
        if (row) {
          row.remove();
        }
      } else {
        // If it's the only row, clear the inputs
        const row = button.closest('tr');
        if (row) {
          // Clear the select fields and input fields
          row.querySelectorAll('select').forEach(select => {
            select.selectedIndex = 0; // Reset select to the first option
          });
          row.querySelectorAll('input[type="number"]').forEach(input => {
            input.value = ''; // Clear the input field
          });
        }
      }
    }

    // Initialize subject-to-module mapping on page load
    document.addEventListener('DOMContentLoaded', function () {
      const subjectSelect = document.getElementById('subject-select');
      if (subjectSelect) {
        handleSubjectChange(subjectSelect);
      }
    });

    //Delete added subject
    document.addEventListener('DOMContentLoaded', function () {
      // Add click event listener to all delete buttons
      document.querySelectorAll('.delete-row-btn').forEach(function (button) {
        button.addEventListener('click', function () {
          handleDeleteRow(button);
        });
      });
    });

    // Filter accordion
    const filterForm = document.getElementById('filter-form');
    const accordionContainer = document.getElementById('accordion-container');

    filterForm.addEventListener('change', () => {
      const formData = new FormData(filterForm);
      fetch('/filter_dp', {
        method: 'POST',
        body: formData,
      })
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.text(); // Expecting the server to return HTML content
        })
        .then(html => {
          accordionContainer.innerHTML = html;
          initializeAccordion();
          bindCopyIcons();
          bindViewReportButtons();
          bindEditIcon();
          // Open Modal
          document.getElementById('open-modal').addEventListener('click', function () {
            document.getElementById('dp-module').classList.remove('hidden');
          });
        })
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <script>
    {% for category, message in messages %}
    alert("{{ message | escape }}");
    {% endfor %}
  </script>
  {% endif %}
  {% endwith %}

</body>

</html>